/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Kendo Core UI custom styles */
.k-pane {
    background-color:#3d3d3d;
}

.k-splitbar {
    border-color:#222;
    background-color:#2F2F2F;
    z-index: 9;
}

.k-icon {
    background-image: url("../vendor/css/Black/sprite.png");
}

.k-resize-handle {
    display: none !important;
}

.k-collapse-next, .k-collapse-prev {
    margin-top: 0 !important;
}

.k-ghost-splitbar {
    background-color: transparent;
    z-index: 10;
}

.k-window {
    background-color: #303030;
    border-color: #222;
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
    box-shadow:2px 2px 2px rgba(0,0,0,0.3);
}

.k-window-titlebar {
    background-color: #3F3F3F;
    border: none;
}

.k-window-action.k-state-hover {
    border-color: #666666;
}


/* Dat.GUI custom styles */
.close-button {
    display: none;
}

.cr {
    background-color: transparent !important;
    border: none !important;
}

.c {
    white-space:nowrap !important;
    overflow:hidden !important;
}

/* Don't touch the color picker css */
li.cr:not(.color) input {
    color: #fff !important;
}


li.cr:not(.color) .c input {
    background-color: #2a2a2a !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    float: none !important;
}

li.cr:not(.color) .c input:hover,
li.cr:not(.color) .c input:focus {
    background-color: #2a2a2a !important;
}

li.cr.has-slider .c input {
    width: 30% !important;
    float: left !important;
}



.saturation-field {
    border: none !important;
}

.hue-field {
    border: none !important;
}

.selector {
    margin-left: 0px !important;
    margin-top: 22px !important;
}

.slider {
    float: none !important;
    margin-left:0px !important;
    margin-right: 0px !important;
    display: inline-block !important;
    width:65% !important;
    margin-left:5% !important;
}



.c select {
    background-color: #2a2a2a;
    color: #fff;
    border: none;
    padding: 2px 0px;
    width: 100%;
}

.c input[type="checkbox"] {
}

.slider {
    background-color: #555 !important;
}

.slider-fg {
    background-color: #777 !important;
}


.slider:hover {
    background-color: #666 !important
}


.slider:hover .slider-fg {
    background-color: #999 !important;
}

.title {
    background-color: #444 !important;
    border-bottom: 1px solid #555 !important;
}

.function {
    margin-top: 5px;
    //margin-left:15%;
    //margin-right:18%;
}

.function .property-name{
    text-align: center;
    width: 100% !important;
    background-color: #555;
    border-radius: 5px;
}

.dg {
    text-shadow: none !important;
    color: inherit !important;
}


/* ACE custom styles */

.ace_gutter {
    background-color: #444 !important;
}

.ace_editor {
    background-color: #3d3d3d !important;
}

.ace_active-line {
    background-color: #444444 !important;
}

.ace_gutter-active-line {
    background-color: #4f4f4f !important;
}

.ace_selection {
    background-color: #545454 !important; 
}


/* Blockly styles */

.blocklyMainBackground {
    stroke: none !important;
}

.blocklyFlyoutBackground {
    fill: #303030 !important;
    fill-opacity: 1.0 !important;
}

.blocklySvg {
    background-color: #3d3d3d !important;
}

.blocklyScrollbarBackground {
    fill: #2d2d2d !important;
    stroke: none !important;
}

.blocklyScrollbarKnob {
    fill: #666666 !important;
}

html,
body
{
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    font-size: 12px;
    font-family: sans-serif;
    color:#bbb;
}

#screen-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    z-index: 8;
}

#loading-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3d3d3d;
    z-index: 10;
}

#vertical,
#horizontal
{
    height:100%;
}

#vertical
{
    border-width: 0;
}

#code-editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#blockly-area {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#blockly-div {
    position: absolute;
}

#view-pane {
    /* When view-pane changes size, the WebGL view slightly exceeds it.
    This normally causes scroll bars to appear, but this fix stops it */
    overflow: hidden;
    z-index: 9;
}

#menu-pane {
    overflow: hidden;
    background-color:#2B2B2B;
}

#properties-pane {
    overflow-x: hidden;
}

#play-button {
    z-index: 9;
}

.menu-button {
    position: relative;
    float:left;
    width:30px;
    height:30px;
    padding: 10px;
}

.menu-right {
    float:right;
}

.menu-spacer {
    float: left;
    width: 1px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #666;
}

.menu-button.disabled {
    opacity: 0.5;
}

.menu-button:hover { 
    background-color: #444;
}

.menu-button.selected {
    background-color: #555; 
}





.library-item {
    position: relative;
    width:100px;
    height:100px;
    display: inline-block;
    margin: 2px;
}

.library-item-name {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.library-item-image {
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 60px;
    height: 60px;
}

.library-item:hover { 
    background-color: #444;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
